- space = ' '

.main-wrapper
  .l-pattern
    .l-background
  .main-container.landing
    div.content-wrapper
      .content
        .l-section
          .features
            .feature
              .feature-wrapper
                .feature-head
                  h2 Космети&shy;ческий
                .feature-image
                  .img-wrapper
                    img.feature-img(src='/images/cosmetics.jpg')
                .feature-desc
                  p
                    span Необходимый#{space}
                    | минимум проводимых ремонтных работ для Вашей комфортной жизни.
            .feature
              .feature-wrapper
                .feature-head
                  h2 Стандарт
                .feature-image
                  .img-wrapper
                    img.feature-img(src='/images/standart.jpg')
                .feature-desc
                  p
                    span Высокое#{space}
                    | качество проводимых ремонтных и отделочных работ за умеренную цену.
            .feature
              .feature-wrapper
                .feature-head
                  h2 Премиум
                .feature-image
                  .img-wrapper
                    img.feature-img(src='/images/premium.jpg')
                .feature-desc
                  p
                    span Индивидуальный#{space}
                    | подход к каждому клиенту и интересные решения для вашей жилпдощади.

  .l-pricing
    .pricing-container
      .pricing-header
        h2 Смета
      .pricing-description
        p
          span.margin-left Мы#{space}
          | предлагаем качественные услуги по ремонту квартир в Москве и Московской области.
        p
          span.margin-left На#{space}
          | нашем сайте вы сможете найти всю необходимую и очень важную информацию по всем#{space}
          | основным этапам планирования и ведения ремонтных работ.
        p
          span.margin-left Наши#{space}
          | специалисты обладают огромным опытом в сфере ремонта. Поэтому они со знанием своего дела#{space}
          | помогут с выбором дизайн проекта, расскажут тонкости и хитрости планировки помещений, а самое#{space}
          | главное - сделают вашу недвижимость удобной, практичной и индивидуальной.
          | Услуги нашей компании выделяются из общей массы предложений строительных компаний доступным соотношением цена/качество. Вы можете это легко проверить на страничке с ценами на оказываемые услуги по ремонту. Для вашего удобства они разбиты на ценовые категории: Бюджетный ремонт, Евроремонт и Премиум ремонт.